
*.pyc
*.pyc
*.csv
.ipynb_checkpoints/Auswertung Infusionsversuch vom 4.8.2022-Copy1-checkpoint.ipynb
*.svg
Auswertung Infusionsversuch vom 4.8.2022-Copy1.ipynb
*.docx
ReadRedlab/ReadRedlab.py
*.svg
*.png
*.svg
*.ipynb
*.xlsx
*.bat
tools.py
